<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
<% if(nav){%>
  <div class="w-full px-10 py-3 flex justify-between bg-zinc-900 text-white items-center">
    <i class="ri-pinterest-fill text-red-700 text-5xl font-thin"></i>
    <div class="flex gap-10 items-center">
      <a href="/add" class="px-3 py-1 rounded-md bg-zinc-700 hover:bg-red-700 text-2xl  font-semibold">
        <i class="ri-add-large-line"></i>
    </a>
      <a href="/feed" class="hover:bg-red-700 rounded-full"><i class="ri-compass-3-line text-4xl font-thin"></i></a>
      <a href="/profile" class="hover:text-red-700"><i class="ri-user-3-line text-3xl "></i></a>
      <a class="py-2 px-3 bg-red-700 text-white rounded-md hover:bg-red-800" href="/logout">Logout</a>
    </div>
  </div>
<% } %>
